body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: red;
    background: linear-gradient(black 20%, red 90%) ;
    background-attachment: fixed;
    color: #ffffff;
}
p a{
	width: 100%;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
.container{
    margin: 10%, 0;
    display: block;
    border: 2px;
    border-style: solid;
    border-color: black;
    box-shadow: 2px 2px 5px black;
    padding: 5px, 5px, 150px, 5px;
    position: relative;
    flex-wrap: nowrap;
}
footer{
    padding: 50px;
    fill-opacity: black;
    font-size : 30px;
    margin-top: 5%;
}
a{
    transition: all 0.75s;
    
}
a:hover{
    color: #ffffff;
}
.personagens{
    color: aqua;
}
    